spring:
  application:
    name: agile-boot-admin-api
  data:
    jpa:
      repositories:
        bootstrap-mode: deferred
    web:
      pageable:
        default-page-size: 20
        size-parameter: size
        page-parameter: page
        one-indexed-parameters: true
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: none
      use-new-id-generator-mappings: false
    properties:
      hibernate:
        jdbc:
          batch_size: 50
          time_zone: Asia/Shanghai
          order_inserts: true
          order_updates: true
          batch_versioned_data: true
      javax:
        persistence:
          validation:
            mode: none
  datasource:
    hikari:
      max-lifetime: 120000
  resources:
    add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
  jmx:
    enabled: false
  jackson:
    date-format: yyyy-MM-dd HH:mm
    time-zone: Asia/Shanghai
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

agile:
  format:
    date-format: yyyy-MM-dd
    time-format: HH:mm
    datetime-format: yyyy-MM-dd HH:mm